.block {
    width: 80px;
    height: 80px;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.empty{
    background-color: white;
    border: solid 2px #d3d6da;
    color: black;
}

.filled{
    background-color: white;
    border: solid 1px #d3d6da;
    color: black;
}

.hint{
    background-color: #c9b458;
    color: white;
}

.wrong{
    background-color: #787c7e;
    color: white;
}

.correct{
    background-color: #6aaa64;
    color: white;
}